body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#score {
    font-size: 24px;
    margin-bottom: 20px;
}

#gameField {
    width: 90vw;
    height: 90vh;
    background-color: lightgrey;
    position: relative;
}

#mainSquare {
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s ease; /* Увеличена скорость перемещения */
}

.greenSquare {
    width: 30px;
    height: 30px;
    background-color: green;
    position: absolute;
    animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    60% { 
        opacity: 1; /* Первые 3 секунды без изменений */
    }
    100% {
        opacity: 0; /* Последующие 2 секунды исчезновение */
    }
}
