body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

body h1{
    font-family: 'GEO', sans-serif;
    font-size: 80px;
    color: #FFFFFF; 
}

#lvlrank_box{
    margin-top: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 348px;
    height: 100px;
    /* background-color: #0B0B0B; */
    position: relative; 
}

#lvl,  #rank{
    margin-right: 20px;
    font-family: 'GEO', sans-serif;
    font-style: oblique;
    font-size: 35px;
    color: #FFFFFF; 
}

#farm_lvl, #rank_lvl{
    font-family: 'GEO', sans-serif;
    font-style: oblique;
    font-size: 20px;
    color: #FFFFFF; 
}

#coins_nubers{
    margin-top: 10px;
    font-family: 'GEO', sans-serif;
    font-style: oblique;
    font-size: 50px;
    color: #FFFFFF; 

}

#game_box{
    margin-top: 20px;
    width: 313px;
    height: 106px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C2C2C;
    position: relative; 
    border-radius: 10px;

}

#game_picture{
    position: relative;
    width: 155px;
    height: 106px;
    overflow: hidden; /* Скрывает выходящие за пределы элементы */
    /* background-color: aqua; */
}


#grean_img{
    position: absolute;
    top: 10px;
    left: 90px;
    transform: translate(-50%, -50%); /* Центрирование */
    background-image: url(img/box_grean.png);
    width: 130px;
    height: 30px;
    
}

#red_img{
    position: absolute;
    top: 51px;
    left: -40px;
    transform: translate(-50%, -50%); /* Центрирование */
    transform: rotate(90deg);
    background-image: url(img/red_line.png);
    width: 107px;
    height: 5px;
}

#white_img{
    position: absolute;
    top: 90px;
    left: 50px;
    transform: translate(-50%, -50%); /* Центрирование */
    background-image: url(img/box_white.png);
    width: 25px;
    height: 25px;
}

#yellow_img{
    position: absolute;
    top: 50px;
    left: 80px;
    transform: translate(-50%, -50%); /* Центрирование */
    background-image: url(img/coin.png);
    width: 24px;
    height: 24px;
}

#red_coin_img{
    position: absolute;
    top: 90px;
    left: 100px;
    transform: translate(-50%, -50%); /* Центрирование */
    background-image: url(img/red_coin.png);
    width: 24px;
    height: 24px;
}

#green_coin_img{
    position: absolute;
    top: 50px;
    left: 40px;
    transform: translate(-50%, -50%); /* Центрирование */
    background-image: url(img/green_coin.png);
    width: 24px;
    height: 24px;
}


#game_sittings{
    width: 155px;
    height: 106px;
    /* background-color: bisque; */
}

#top_cripto_game{
    margin-top: 10px;
    margin-left: 6px;
    font-family: 'GEO', sans-serif;
    font-size: 30px;
    color: #FFFFFF; 
}

#tikets{
    margin-top: -5px;
    margin-left: 6px;
    font-family: 'GEO', sans-serif;
    font-style: oblique;
    font-size: 30px;
    color: #FFFFFF;    
}

#tiket_img{
    position: absolute;
    left: 270px;
    top: 32px;
    width: 30px;
    height: 30px;
    background-image: url(img/tiket.png);
}

#game_button_play{
    margin-top: 10px;
    margin-left: 40px;
    width: 95px;
    height: 30px;
    border-radius: 30px;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game_button_play span{
    font-family: 'GEO', sans-serif;
    font-size: 28px;
    color: #000000; 
}


#farm{
    margin-top: 20px;
    width: 313px;
    height: 106px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C2C2C;
    
    border-radius: 10px;

}

#farm_lvl_box{
    position: relative;
    width: 155px;
    height: 106px;
    overflow: hidden; /* Скрывает выходящие за пределы элементы */
    /* background-color: aqua; */
}

#farming_lvl{
    margin-top: 10px;
    margin-left: 25px;
    font-family: 'GEO', sans-serif;
    font-size: 24px;
    color: #FFFFFF; 
}

#farming_price{
    margin-top: 0px;
    margin-left: 25px;
    font-family: 'GEO', sans-serif;
    font-style: oblique;
    font-size: 24px;
    color: #FFFFFF; 
}

#farm_button_uplvl{
    margin-top: 10px;
    margin-left: 35px;
    width: 95px;
    height: 30px;
    border-radius: 30px;
    background-color: #39FF14;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#farm_button_uplvl span{
    font-family: 'GEO', sans-serif;
    font-size: 28px;
    color: #000000; 
}

#farm_start{
    position: relative;
    width: 155px;
    height: 106px;
    overflow: hidden; /* Скрывает выходящие за пределы элементы */
    /* background-color: aqua;   */
}


#farm_start_top{
    margin-top: 10px;
    margin-left: 25px;
    font-family: 'GEO', sans-serif;
    font-size: 24px;
    color: #FFFFFF; 
}

#farm_start_under_top{
    margin-top: 0px;
    margin-left: 25px;
    font-family: 'GEO', sans-serif;
    font-style: oblique;
    font-size: 24px;
    color: #FFFFFF; 
}

#farm_button_start{
    margin-top: 10px;
    margin-left: 35px;
    width: 95px;
    height: 30px;
    border-radius: 30px;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#farm_button_start span{
    font-family: 'GEO', sans-serif;
    font-size: 28px;
    color: #000000; 
}

